.section__kit {
    padding: 40px 0;
    background: url(../img/kit_bg.jpg) center (center/cover) no-repeat;
    min-height: 600px;
    display: flex;
    align-items:flex-end;
}

.kit {
    &__wrapper {
    margin-left: auto;
    max-width: 615px;
    background-color: $blackColor;
    border-radius: 16px;
    padding: 16px 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        @media(max-width:480px) {
            width: 100%;
            justify-content: center;
        }
        &_name {
            font-size: 11px;
            color: $whiteColor;
        }
    }
}