.section__shop {
    padding: 100px 0;
    background: url(../img/shop_bg.png) center (center/cover) no-repeat;
}

.shop {
    &__title {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $whiteColor;
    }

    &__subtitle {
        font-family: 'Roboto';
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        color: $orangeColor;
    }

    &__descr {
        font-size: 16px;
        text-align: center;
        color: $whiteColor;
        max-width: 538px;
        margin: 0 auto;
        margin-top: 7px;
        line-height: 19px;
    }

    &__btn {
        font-size: 15px;
        color: $brownColor;
        padding: 18px 10px;
        margin: 0 auto;
        margin-top: 30px;
        background-color: $whiteColor;
        display: flex;
        max-width: 111px;
        text-align: center;
        align-items: center;
        justify-content: center;
        max-height: 44px;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.3s all;

        &:hover {
            color: $whiteColor;
            background-color: $grayColor;
        }
    }
}