.section__store {
    padding: 100px 0;
}

.store {
    &__title {
        text-align: center;
    }

    &__subtitle {
        text-align: center;
    }

    &__descr {
        text-align: center;
        font-size: 16px;
        line-height: 19px;
        color: $brownColor;
        max-width: 538px;
        margin: 0 auto;
        margin-top: 7px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 15px;
        margin-top: 20px;
    }

    &__card {
        max-width: 379px;
        height: 473px;
        padding: 40px 0;
        border-radius: 10px;

        &-1 {
            background: url(../img/bgcard1.png) center (center/cover) no-repeat;
            width: 100%;
        }

        &-2 {
            background: url(../img/bgcard2.png) center (center/cover) no-repeat;
            width: 100%;
        }

        &-3 {
            background: url(../img/bgcard3.png) center (center/cover) no-repeat;
            width: 100%;
        }

        &-4 {
            background: url(../img/bgcard4.png) center (center/cover) no-repeat;
            width: 100%;
        }

        &-5 {
            background: url(../img/bgcard5.png) center (center/cover) no-repeat;
            width: 100%;
        }

        &-6 {
            background: url(../img/bgcard6.png) center (center/cover) no-repeat;
            width: 100%;
        }


        &-title {
            font-family: 'Roboto';
            font-size: 28px;
            text-align: center;
            color: $brownColor;
        }

        &-descr {
            font-size: 16px;
            line-height: 22px;
            color:$brownColor;
            text-align: center;
            max-width: 262px;
            margin: 0 auto;
            margin-top: 9px;
        }

        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            margin-top: 20px;
            color: $brownColor;
            transition: 0.3s all;
            a {
                color: $brownColor;
            }
            &-img {
                margin-top: 3px;
            }
            &:hover {
                margin-left: 10px;
            }
        }
    }
}