@use 'sass:math';


// Colors 
$whiteColor: #ffffff;
$blackColor: #222222;
$grayColor: #444444;
$brownColor: #575445;
$orangeColor: #E6B939;
$lightColor: #CACCD1;

// Burger Menu
$burgerBreakpoint: 992px;
$burgerColor: 'black';
$burgerActiveColor: 'white';
